[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule "GoldenView.Vim"]
	path = bundle/GoldenView.Vim
	url = git://github.com/zhaocai/GoldenView.Vim.git
[submodule "emmet-vim"]
	path = bundle/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
[submodule "gruvbox"]
	path = bundle/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "molokai"]
	path = bundle/molokai
	url = https://github.com/tomasr/molokai.git
[submodule "nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "unite.vim"]
	path = bundle/unite.vim
	url = https://github.com/Shougo/unite.vim.git
[submodule "vim-airline"]
	path = bundle/vim-airline
	url = https://github.com:bling/vim-airline.git
[submodule "vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim-kolor"]
	path = bundle/vim-kolor
	url = https://github.com/zeis/vim-kolor.git
[submodule "bundle/vim-multiple-cursors"]
	path = bundle/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
[submodule "bundle/vim-sorround"]
	path = bundle/vim-sorround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
